01-docker-terraform/docker_sql/*
01-docker-terraform/docker_sql/ny_taxi_postgres_data/*


 Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore node_modules if you're using Node.js
node_modules/

# ignpre csv files
*.csv

# Ignore .parquet files
*.parquet

01-docker-terraform/docker_sql/ny_taxi_postgres_data/*
01-docker-terraform/docker_sql/yellow_tripdata_2024-01.csv
01-docker-terraform/docker_sql/ny_taxi_postgres_data/
